header h1 { font-family: 'Montserrat', sans-serif; position: absolute; bottom: -18px; font-weight: 300; right: 0; left: 0; font-size: 7rem; text-align: center; letter-spacing: 4px; color: white; margin: auto; }

main { padding: 10px; transition-property: all; transition-duration: .8s; padding: 18px; background-color: #fafafa; }

main #access ul { width: 70%; margin: 15px auto; }

main #access ul li { color: #2b2b2b; font-size: 1.5rem; padding-bottom: 18px; letter-spacing: 1.2px; }

main #access ul li .br { display: none; }

main #access ul li span { display: none; }

main #access ul li .fa { margin-right: 10px; }

@media (max-width: 360px) { main #access ul li .br { display: inline-block; }
  main #access ul li span { display: inline-block; margin-left: 5px; } }
